// 主要颜色
$primary-color:#40586F;
$success-color:#51cf66;
$warning-color:#fcc419;
$danger-color:#ff6b6b;
$info-color:#868e96;//#22b8cf

$body-bg:#e9eef3;
$sidebar-bg:#f8f9fB;
$bavbar-bg:#f8f9fB;

// 字体设置
$font-family:system-ui,-apply-system,'Segoe UI',Roboto,Helvectica,Arial,sans-serif;